# ===============================
# Xcode
# ===============================

# Директории сборки и временные файлы Xcode
build/
DerivedData/

# Файлы пользовательских настроек проекта (необходим только локально)
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
xcuserdata/

# Рабочая область Xcode
*.xcworkspace

# ===============================
# Swift Package Manager
# ===============================
.build/
Packages/

# ===============================
# CocoaPods (если используется)
# ===============================
Pods/

# ===============================
# Carthage (если используется)
# ===============================
Carthage/Build/

# ===============================
# Архивы Xcode
# ===============================
*.xcarchive

# ===============================
# Прочие системные файлы
# ===============================
.DS_Store
*.moved-aside
*.xcuserstate
